body {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

  .range_slides_carousel_wrapper {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            height: 100vw;
            width: 100vh;
  }
  
  .slider__container {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider__container .col-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider__container .col-3 * {
    all: unset;
  }

  .slider__container .col-3 img{
     height: 100vh;
     max-width: 100vw; 
    border-radius: 50px;
}

.carousel-inner{
  overflow: visible;
  position: absolute;
  right: -8px;
}

.range_slides_carousel_control_icons {
  opacity: .8;
  line-height: 55px;
  font-size: 35px!important;
  font-weight: 400!important;
}